{% extends 'base.html.twig' %}

{% block body %}
    <h1>Language</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ language.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ language.status }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ language.createdBy }}</td>
            </tr>
            <tr>
                <th>Createddatetime</th>
                <td>{% if language.createdDateTime %}{{ language.createdDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('languages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('languages_edit', { 'id': language.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
