{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
{% endblock %}

{% block body %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="center" style="padding-left: 14%;">Edit Profile</h2>
		</div>
		
		<div class="panel-body">
    		<form class="form-horizontal" action="{{ path('edit_profile',{ 'id': id }) }}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                	<div class="col-sm-3" style="padding-left: 15%;">
                		{{ form_label(form.firstName) }}
                	</div>
                      <div class="col-sm-5">
            			{{ form_widget(form.firstName) }}
            		  </div>
                </div>
                <div class="form-group">
                	<div class="col-sm-3" style="padding-left: 15%;">
                		{{ form_label(form.lastName) }}
                	</div>
                    <div class="col-sm-5">
            			{{ form_widget(form.lastName) }}
            		</div>
                </div>
                
                <div class="form-group">
                	<div class="col-sm-3" style="padding-left: 15%;">
                		{{ form_label(form.email) }}
                	</div>
                    <div class="col-sm-5">
            			{{ form_widget(form.email) }}
            		</div>
                </div>
               
                <div class="form-group">
                	<div class="col-sm-3" style="padding-left:15%">
                		{{ form_label(form.file) }}
                	</div>
                	<div class="col-sm-5">
                		{{ form_widget(form.file) }}
                	</div>
                </div>
            
           		<br/>
                <div class="form-group">        
                  <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-success">Edit Profile</button>
                    <a href="{{ path('my_feed') }}" class="btn btn-default">Cancel</a>
                  </div>
                </div>
          </form>	
		</div>
	</div>

{% endblock %}
