

	<!-- sidebar -->
	<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
	  
		<ul class="nav">
			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
		</ul>
	   
		<ul class="nav hidden-xs" id="lg-menu">
			<li><a href="{{ path('my_feed') }}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
			<li><a href="{{ path('post_index') }}"><i class="glyphicon glyphicon-list"></i> Posts</a></li>
			<li><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Followers</a></li>
			
			{% if(app.user.type == constant('AppBundle\\Constants\\Constants::USER_TYPE_ADMIN')) %}
			<li><a href="{{ path('category_index') }}"><i class="glyphicon glyphicon-tag"></i> Category</a></li>
			<li><a href="{{ path('subcategory_index') }}""><i class="glyphicon glyphicon-tag"></i> Sub Category</a></li>
			<li><a href="{{ path('languages_index') }}""><i class="glyphicon glyphicon-tag"></i> Language</a></li>
			<li><a href="{{ path('genre_index') }}""><i class="glyphicon glyphicon-tag"></i> Genre</a></li>
			{% endif %}
			
			
			
		</ul>
		<ul class="list-unstyled hidden-xs" id="sidebar-footer">
			<li>
				<h4>I do have </h4>
				<h3>Talent</h3>
			</li>
		</ul>
	  
		<!-- tiny only nav-->
	  <ul class="nav visible-xs" id="xs-menu">
			<li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
			<li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
			<li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
			<li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
		</ul>
	  
	</div>
	<!-- /sidebar -->

