{% extends 'register/register_base.html.twig' %}


{% form_theme form _self %}

{% block form_row %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
{% endblock %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-4 col-md-5">
			<div class="panel panel-default" style="padding:10%">
              <div class="panel-body">
              		<div class="text-center"> Log in to I do have Talent </div>
              		<br/>
              		<form action="{{ path('reset_password',{'token':token}) }}" method="post">
              			<div class="form-group">
							{{ form_row(form.password.first) }}
              			</div>
              			<div class="form-group">
              				{{ form_row(form.password.second) }}
              			</div>
              			<div>
              				<input type="submit" name="submit" value="Reset My Password" class="btn btn-primary" style="width:100%"/>
              			</div>
              		</form>
              </div>
            </div>
		</div>
	</div>
{% endblock %}