{% extends 'register/register_base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
{% endblock %}



{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-1 col-md-6">
			<p>I do have Talent helps you to connect with <br/> the writers and users</p>
			<img alt="" src="{{ asset('assets/img/reg.png') }}">
		</div>
		<div class="col-md-4">
			<b>Create an Account</b>
			<br/>
			<form action="{{ path('home') }}" method = "post">
				 <div class="form-group">
				 	{{ form_row(form.firstName) }}
                  </div>
				 <div class="form-group">
				 	{{ form_row(form.lastName) }}
                  </div>
                  <div class="form-group">
				 	{{ form_row(form.email) }}
                  </div>
				 <div class="form-group">
				 	{{ form_row(form.password.first) }}
                  </div>
                  <div class="form-group">
				 	{{ form_row(form.password.second) }}
                  </div>
                  <div class="form-group">
				 	 {{ form_errors(form.password) }}
                  </div>
                  
                  <div class="form-group">
				 	<input type="submit" value="Create an account" class="btn btn-primary btn-full"> 
				 	Existing user? <a href="{{ path('log_in') }}" class="">Login</a>
                  </div>
			</form>
		</div>
	</div>
 

{% endblock %}
