{% extends 'base.html.twig' %}

{% block body %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="center">List of all the post</h2>
			<a class="btn btn-success pull-right" href="{{ path('post_new') }}" style="margin-top:-45px;">Create a new post</a>
		</div>
		
		<div class="panel-body table-responsive">
			<table class="table table-hover">
    			<thead>
    				<tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
    			</thead>
    			<tbody>
    				 {% for post in posts %}
                        <tr>
                            <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></td>
                            <td>{{  post.content|slice(0,74)}}...</td>
                            <td>{{ post.status | status }}</td>
                            <td>
                            	<a href="{{ path('post_show', { 'id': post.id }) }}">
                            		<i class="glyphicon glyphicon-eye-open" aria-hidden="true"> show</i>
                            	</a>
                            	<br/>
                            	<a href="{{ path('post_edit', { 'id': post.id }) }}">
                            		<i class="glyphicon glyphicon-pencil" aria-hidden="true"> edit</i>
                            	</a>
                            </td>
                        </tr>
                    {% endfor %}
    			</tbody>
		</div>
	</div>
{% endblock %}
