{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Categoryid</th>
                <td>{{ post.categoryId }}</td>
            </tr>
            <tr>
                <th>Subcategoryid</th>
                <td>{{ post.subCategoryId }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ post.userId }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ post.image }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ post.status }}</td>
            </tr>
            <tr>
                <th>Createddatetime</th>
                <td>{% if post.createdDateTime %}{{ post.createdDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateddatetime</th>
                <td>{% if post.updatedDateTime %}{{ post.updatedDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
