{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h3>{{ post.title }}</h3>
    		
        	<a href="{{ path('post_edit', { 'id': post.id }) }}" title="Edit">
        		<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
        	</a>
        	<a href="{{ path('post_index') }}" title="Back to posts">
        		<i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
        	</a>
    	</div>
    	<div class="panel-body">
    		<div class="col-md-4">
    			 <img src="{{ asset('assets/img/posts/33.jpeg') }}" class="img-responsive"/>
    		</div>
    		<div class="col-md-8">
    			{{ post.content }}
    		</div>
    		
    	</div>
		
	</div>	

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Categoryid</th>
                <td>{{ post.categoryId }}</td>
            </tr>
            <tr>
                <th>Subcategoryid</th>
                <td>{{ post.subCategoryId }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ post.userId }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ post.image }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ post.status }}</td>
            </tr>
            <tr>
                <th>Createddatetime</th>
                <td>{% if post.createdDateTime %}{{ post.createdDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateddatetime</th>
                <td>{% if post.updatedDateTime %}{{ post.updatedDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
