{% extends 'base.html.twig' %}

{% block body %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="center">List of all the subcategories</h2>
			<a class="btn btn-success pull-right" href="{{ path('subcategory_new') }}" style="margin-top:-45px;">Create a new subcategory</a>
		</div>
		
		<div class="panel-body table-responsive">
			<table class="table table-hover">
    			<thead>
    				<tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
    			</thead>
    			<tbody>
    				 {% for category in subcategories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.status | status }}</td>
                            <td>{{  category.description}}</td>
                            <td>{{  category.categoryId | category}}</td>
                            <td>
{#                             	<a href="{{ path('category_show', { 'id': category.id }) }}">#}
{#                             		<i class="glyphicon glyphicon-eye-open" aria-hidden="true"> show</i>#}
{#                             	</a>#}
{#                             	<br/>#}
                            	<a href="{{ path('subcategory_edit', { 'id': category.id }) }}">
                            		<i class="glyphicon glyphicon-pencil" aria-hidden="true"> edit</i>
                            	</a>
                            </td>
                        </tr>
                    {% endfor %}
    			</tbody>
		</div>
	</div>
{% endblock %}





